src/wsdl/localhost_8080/PoorBank/PoorBankService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://poorbank.group11.cphbusiness.dk/" xmlns:ns1="http://cphbusiness.dk" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://poorbank.group11.cphbusiness.dk/">

<xs:import namespace="http://cphbusiness.dk" schemaLocation="http://localhost:8080/PoorBank/PoorBankService?xsd=2"/>

<xs:element name="PoorException" type="tns:PoorException"/>

<xs:element name="PoorLoan" type="tns:PoorLoan"/>

<xs:element name="PoorLoanResponse" type="tns:PoorLoanResponse"/>

<xs:complexType name="PoorLoan">
<xs:sequence>
<xs:element name="ssn" type="xs:string" minOccurs="0"/>
<xs:element name="creditScore" type="xs:int"/>
<xs:element name="loanAmount" type="xs:double"/>
<xs:element name="loanDurationInMonths" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PoorLoanResponse">
<xs:sequence>
<xs:element name="return" type="ns1:PoorLoanResponsee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PoorException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>